<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta Title -->
    <title>Terms of Service | FengShuiAIBot.com | Free AI-Powered Feng Shui Consultation & Home Analysis</title>

    <!-- Meta Description -->
    <meta name="description" content="Unlock the secrets of Feng Shui with FengShuiAIBot! Get personalized, free AI-driven Feng Shui consultations, home and office analysis, and tips to harmonize your living space. Enhance your well-being, attract positive energy, and achieve balance with our advanced Feng Shui tools and guides. Perfect for anyone seeking prosperity, health, and happiness through Feng Shui principles.">
<link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
<link rel="stylesheet" type="text/css" href="../assets/css/info-page.css">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L0R3GXH6EJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L0R3GXH6EJ');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WPGTHSRR');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPGTHSRR"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

<main>
  <header>
    
    <div class="nav-toggle"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>
      Menu
    </div>
    <div class="logo">
      <a href="/index.html">
                <img class="logo" src="../assets/img/logo.webp" alt="Feng Shui Analysis Logo">
      </a>
    </div>
    <div class="search-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M18 11a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
      Search
  </div>
        <nav>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/views/terms.html">Services</a></li>
                <li><a href="/views/about.html">About</a></li>
                <li><a href="/views/privacy.html">Privacy</a></li>
                  <li><a href="/views/login.html">Account</a></li>
            </ul>
        </nav>
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button type="button">Search</button>
        </div>
</header>
  <section id="info">
    <h2>Terms and Conditions</h2>


    <h3>1. Introduction</h3>
    <p>Welcome to FengShuiAiBot.com. These Terms and Conditions govern your use of our website and services. By accessing or using our services, you agree to comply with and be bound by these terms.</p>

    <h3>2. User Accounts</h3>
    <p>- To access certain features of our website, you may be required to create an account. You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.</p>
    <p>- You agree to provide accurate and up-to-date information during the registration process and to update this information as necessary.</p>
    <h3>3. Use of Services</h3>
    <p>- You agree to use our services only for lawful purposes and in a manner consistent with all applicable laws and regulations.</p>
    <p>- You agree not to engage in any conduct that could harm our website, services, or other users.</p>

    <h3>4. Intellectual Property</h3>
    <p>- All content on this website, including but not limited to text, graphics, logos, and software, is the property of [Your Company Name] or its licensors and is protected by copyright and other intellectual property laws.</p>
    <p>- You may not reproduce, distribute, or create derivative works from any content on this website without our express written permission.</p>

    <h3>5. Privacy Policy</h3>
    <p>- Your privacy is important to us. Please review our <a href="/views/privacy.html" target="_blank">Privacy Policy</a> to understand how we collect, use, and protect your personal information.</p>

    <h3>6. Limitation of Liability</h3>
    <p>- To the fullest extent permitted by law, [Your Company Name] shall not be liable for any indirect, incidental, special, or consequential damages arising out of or in connection with your use of our website or services.</p>
    <p>- We make no warranties or representations about the accuracy or completeness of the content on our website or the content of any websites linked to our website.</p>

    <h3>7. Termination</h3>
    <p>- We reserve the right to terminate or suspend your account and access to our services at our sole discretion, without notice, if you violate these terms or engage in any conduct that we consider harmful to our website or users.</p>

    <h3>8. Changes to the Terms</h3>
    <p>- We may update these Terms and Conditions from time to time. Any changes will be effective immediately upon posting the revised terms on our website.</p>
    <p>- Your continued use of our services after the posting of changes constitutes your acceptance of such changes.</p>
    
    <h3>9. Governing Law</h3>
    <p>- These Terms and Conditions shall be governed by and construed in accordance with the laws of [Your Country/State]. Any disputes arising under or in connection with these terms shall be subject to the exclusive jurisdiction of the courts of [Your Country/State].</p>
    
    <h3>10. Contact Us</h3>
    <p>If you have any questions or concerns about these Terms and Conditions, please contact us at [Your Contact Information].</p>

  </section>
</main>

<footer>
  <nav>
    <ul>
        <li><a href="../views/about.html">About Us</a></li>
        <li><a href="../views/terms.html">Terms of Service</a></li>
        <li><a href="../views/privacy.html">Privacy Policy</a></li>
    </ul>
</nav>
  <p>&copy; 2024 FengShui. All rights reserved.</p>
</footer>
<script>
  document.querySelector('.nav-toggle').addEventListener('click', function() {
      var nav = document.querySelector('nav');
      if (nav.style.display === 'block') {
          nav.style.display = 'none';
      } else {
          nav.style.display = 'block';
      }
  });

  document.querySelector('.search-toggle').addEventListener('click', function() {
      var searchContainer = document.querySelector('.search-container');
      if (searchContainer.style.display === 'flex') {
          searchContainer.style.display = 'none';
      } else {
          searchContainer.style.display = 'flex';
      }
  });
</script>
</body>
</html>