.chat {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.title {
  margin: 10px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px; /* Larger font size for mobile */
  font-weight: 700;
}

.main-container {
  background-color: #f6f6e2;
}

#chat-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%; /* Adjusted for better view on mobile */
  max-width: 400px;
  position: relative;
  margin-top: 20px;
}

#chat-history {
  height: 300px;
  overflow-y: scroll;
}

.user-message,
.bot-message {
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 18px; /* Larger font size for mobile */
}

.user-message {
  text-align: right;
  background-color: #f0f0f0;
}

.bot-message {
  text-align: left;
  background-color: #e0f0e0;
}

input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  padding-right: 40px; /* Space for the icon */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.input-container {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
.tips-section {
  background-color: #d2b48c; /* Light brown color */
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
}
.tips-section h2 {
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
  font-family: "Georgia", serif;
  font-weight: bold;
}

.tips-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.tips-section ul li {
  font-weight: 600;
  margin-bottom: 10px;
}
.tips-section p {
  margin-bottom: 15px;
  line-height: 1.5;
}
.examples-section {
  background-color: #e6ccb2; /* Different background color for examples section */
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
  font-size: 16px;
}

.examples-section h2 {
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
  font-family: "Georgia", serif;
  font-weight: bold;
}

.examples-section h3 {
  font-size: 18px;
  margin-top: 20px;
}

.examples-section ul {
  list-style-type: none;
  padding-left: 0;
  display: none; /* Initially hidden */
}

.examples-section ul li {
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.examples-section ul li span {
  font-weight: bold;
}

.unlock-section {
  background-color: #cc9966; /* Warm background color */
  padding: 30px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

.unlock-section h2 {
  font-size: 26px;
  color: #fff;
  font-family: "Georgia", serif;
  margin-bottom: 20px;
}

.unlock-section p {
  color: #f5f5f5;
  line-height: 1.7;
  margin-bottom: 20px;
}

.unlock-section img.unlock-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.elevate-section {
  background-color: #8b7765; /* Rich, sophisticated tone */
  padding: 30px;
  border-radius: 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.elevate-section h2 {
  font-size: 28px;
  color: #ffefd5;
  font-family: "Palatino", "Georgia", serif;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.elevate-section p {
  color: #f0e6dc;
  line-height: 1.8;
  margin-bottom: 25px;
  font-family: "Times New Roman", serif;
}

.elevate-section img.elevate-image {
  max-width: 100%;
  height: auto;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.enhance-section {
  background-color: #a0825a; /* Warm, earthy tone */
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.enhance-section h2 {
  font-size: 28px;
  color: #fff;
  font-family: "Palatino", "Georgia", serif;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.enhance-section p {
  color: #f0e6dc;
  line-height: 1.8;
  margin-bottom: 25px;
  font-family: "Times New Roman", serif;
  text-align: left;
  display: flex;
  align-items: center;
}

.enhance-section img.enhance-image {
  max-width: 30%;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chi-ai-section {
  background-color: #745c42; /* Rich, earthy tone */
  padding: 20px;
  border-radius: 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chi-ai-section h2 {
  font-size: 28px;
  color: #ffffff;
  font-family: "Palatino", "Georgia", serif;
  margin-bottom: 20px;
}

.chi-ai-section p {
  color: #e6e2d3;
  line-height: 1.8;
  margin-bottom: 20px;
  font-family: "Times New Roman", serif;
}

.chi-ai-section img.chi-ai-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.show-btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
}
.send-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.send-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Interaction: Hover effect */
.send-icon:hover img {
  opacity: 0.8;
}

/* Interaction: Active (click) effect */
.send-icon:active img {
  transform: scale(0.9);
}

#loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
}
/* Media Query for Phone Screens */
@media only screen and (max-width: 600px) {
  .chat {
    padding: 0px 15px;
  }

  #chat-container {
    width: 100%; /* Take full width on mobile */
    padding: 0px 20px;
    margin-top: 5px;
    box-shadow: none;
  }

  .logo {
    height: 50px;
  }

  .user-message,
  .bot-message {
    font-size: 18px; /* Font size adjustments */
  }

  input {
    font-size: 16px;
    padding: 12px;
  }

  button {
    font-size: 16px;
    padding: 12px 20px;
  }
}
