body {
  margin: 0;
  background-color: #f6f6e2;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #d3d3d3; /* Light gray border */
  position: relative;
}
.logo {
  position: relative;
}
.logo img {
  height: 50px;
}
header .nav-toggle,
.search-toggle {
  cursor: pointer;
  font-weight: bold;
  color: #000000;
  display: flex;
  align-items: center;
}
header .nav-toggle svg,
.search-toggle svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
header nav {
  display: none;
  position: absolute;
  top: 60px;
  left: 20px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
header nav ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}
header nav ul li {
  margin-bottom: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: #000000; /* Ink Black */
  font-weight: bold;
}
header nav ul li:last-child {
  margin-bottom: 0;
}
.search-container {
  display: none;
  align-items: center;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 99;
}
.search-container input[type="text"] {
  padding: 5px;
  border: 1px solid #d3d3d3; /* Light gray border */
  border-radius: 4px;
}
.search-container button {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  background-color: #708090; /* Slate Gray */
  color: #ffffff; /* White text */
  border-radius: 4px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px; /* Larger font size for mobile */
}

/* Footer styling */
footer {
  background-color: #808080;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer nav ul li {
  display: inline;
}

footer nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

footer p {
  margin-top: 10px;
  font-size: 12px;
}


